<div class="vstack gap-2">
  <div class="row">
    <div class="col-12 p-2 mx-auto">
      <div class="card border-primary">
        <div class="card-header bg-primary text-bg-primary">
          <div class="row">
            <div class="col-6">
              My Fleet
            </div>
            <div class="col-6 text-end">
              <a
                class="btn btn-outline-light btn-sm text-bg-primary"
                href="/addEV"
              >Add New EV</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table bg-light table-striped">
            <thead>
              <tr>
                <th scope="col">Model Year</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Model</th>
                <th scope="col">Category</th>
                <th scope="col">Drivetrain</th>
                <th scope="col">Engine Type</th>
                <th scope="col">Engine Size</th>
                {{! <th scope="col">Fuel</th> }}
                <th scope="col">Electric Range</th>
                <th scope="col">Fuel Economy Combined</th>
                <th scope="col">Fuel Economy City</th>
                <th scope="col">Fuel Economy Highway</th>
                <th scope="col">Photo</th>
              </tr>
            </thead>
            <tbody>
              {{#each vehicles as |vehicle|}}
                {{#with electric_vehicle}}
                  <tr>
                    <td scope="row">{{model_year}}</td>
                    <td>{{manufacturer_name}}</td>
                    <td>{{model}}</td>
                    <td>{{category_name}}</td>
                    <td>{{drivetrain}}</td>
                    <td>{{engine_type}}</td>
                    <td>{{engine_size}}</td>
                    {{!-- <td>{{fuel_name}}</td> --}}
                    <td>{{electric_range}}</td>
                    <td>{{alternative_fuel_economy_combined}}</td>
                    <td>{{alternative_fuel_economy_city}}</td>
                    <td>{{alternative_fuel_economy_highway}}</td>
                    <td>
                      {{#if manufacturer_url}}
                        <a href="{{manufacturer_url}}" target="_blank">
                          {{#if photo_url}}
                            <img
                              src="{{format_nrel_photo photo_url}}"
                              alt="{{model}}"
                              width="150"
                              height="80"
                              class="rounded"
                            />
                          {{else}}
                            {{manufacturer_name}}
                          {{/if}}</a>
                      {{else}}
                        {{#if photo_url}}
                          <img
                            src="{{format_nrel_photo photo_url}}"
                            alt="{{model}}"
                            width="150"
                            height="80"
                            class="rounded"
                          />
                        {{/if}}
                      {{/if}}
                    </td>
                  </tr>
                {{/with}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-2 mx-auto">
      <div class="card border-primary">
        <div class="card-header bg-primary text-bg-primary">
          <div class="row">
            <div class="col-6">
              My Trips
            </div>
            <div class="col-6 text-end">
              <a
                class="btn btn-outline-light btn-sm text-bg-primary"
                href="/trip"
              >Add New Trip</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table bg-light table-striped">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Start</th>
                <th scope="col">Destination</th>
                <th scope="col">Electric Vehicle</th>
              </tr>
            </thead>
            <tbody>
              {{#each trips as |trip|}}
                <tr>
                  <td><a href="/trip/{{id}}">{{title}}</a></td>
                  <td>{{source_address}}</td>
                  <td>{{destination_address}}</td>
                  <td>
                    {{#with electric_vehicle}}
                      {{model_year}}
                      {{manufacturer_name}}
                      {{model}}
                    {{/with}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>